---
import Layout from "../layouts/Layout.astro";
import SectionBlue from "../components/SectionBlue.astro";
import Intro from "../components/Intro.astro";
import SectionYellow from "../components/SectionYellow.astro";
import SectionBrown from "../components/SectionBrown.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
import Staff from "../components/Staff.astro";
import Works from "../components/Works.astro";
import Section from "../components/Section.astro";
---

<Layout title="ERREPE">
  <main>
    <SectionBlue>
      <Intro />
    </SectionBlue>
    <SectionYellow>
      <Services />
    </SectionYellow>
    <SectionBrown>
      <About />
    </SectionBrown>
    <SectionYellow>
      <Clients />
    </SectionYellow>
    <Section>
      <Works />
    </Section>
    <SectionYellow>
      <Staff />
    </SectionYellow>
    <SectionBlue>
      <Contact />
    </SectionBlue>
  </main>
</Layout>
