---
import Layout from "../layouts/Layout.astro";
import SectionBlue from "../components/SectionBlue.astro";
import Intro from "../components/Intro.astro";
import SectionYellow from "../components/SectionYellow.astro";
import SectionBrown from "../components/SectionBrown.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
import Staff from "../components/Staff.astro";
import Works from "../components/Works.astro";
import Whatsapp from "../components/Whatsapp.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";
---

<Layout title="ERREPE">
  <main>
    <HamburgerMenu />
    <Intro />
    <SectionYellow data-theme="light" id="rp-services">
      <Services />
    </SectionYellow>
    <SectionBrown data-theme="light" id="about-rp">
      <About />
    </SectionBrown>
    <SectionYellow data-theme="light" id="rp-clients">
      <Clients />
    </SectionYellow>
    <SectionBlue data-theme="dark" id="rp-works">
      <Works />
    </SectionBlue>
    <SectionYellow data-theme="light" id="rp-staff">
      <Staff />
    </SectionYellow>
    <SectionBlue data-theme="dark" id="contact-rp">
      <Contact />
    </SectionBlue>
    <Whatsapp />
  </main>
</Layout>
