---
import { Picture } from "astro:assets";

const { id, description, imageUrl } = Astro.props;
---

<div class="hidden w-full card" id={id}>
  <div
    class="service h-full w-full py-16 px-4 text flex justify-between gap-10 lg:gap-16 items-center flex-col lg:flex-row description"
  >
    <Picture
      src={imageUrl}
      alt={id}
      class="md:min-w-72 rounded-md drop-shadow-4xl lg:drop-shadow-3xl"
    />
    <p
      class="text-deep-blue text-xl md:text-2xl  font-extrabold font-FormaDJRMicro my-8 text-right lg:pl-10"
    >
      {description}
    </p>
  </div>
</div>
