<div
  class="h-screen w-8/12 md:w-full flex justify-center items-center mx-auto"
>
  <div class="flex flex-col gap-24 justify-center items-center">
    <h4
      class="uppercase text-light-gold text-6xl md:text-[10rem] font-compactaBT"
    >
      contactanos
    </h4>
    <h2 class="uppercase text-gold text-2xl md:text-5xl font-semibold">
      +54 9 11 24059526
    </h2>

    <h5
    class="uppercase text-light-gold text-4xl  font-compactaBT"
  >
    Buenos Aires - Madrid
  </h5>
  </div>
</div>
