---
import Form from "./Forms.astro";
import { Icon } from "astro-icon/components";
---

<div class="h-full w-full flex justify-center items-center py-40">
  <div class="flex w-full flex-col gap-12 justify-around items-center">
    <h4
      class="uppercase text-light-gold text-6xl md:text-[8rem] font-compactaBT"
    >
      contactanos
    </h4>
    <div
      class="flex flex-col md:flex-row mt-4 md:mt-8 justify-center gap-10 w-10/12"
    >
      <Form />
      <div class="flex justify-center flex-col items-center gap-8 mt-4 md:mt-0">
        <a
          href="tel:+5491141880580"
          class="uppercase text-gold text-xl md:text-2xl font-semibold"
        >
          <h5>+54 9 11 4188-0580</h5>
        </a>

        <div class="flex flex-row">
          <h5
            class="uppercase text-light-gold text-xl md:text-2xl font-compactaBT tracking-wider"
          >
            Buenos Aires -
          </h5>
          <h5
            class="uppercase text-light-gold text-xl md:text-2xl font-compactaBT pl-2 tracking-wider"
          >
            <a
              href="https://star-carpas.com/"
              target="_blank"
              class="group transition duration-300"
            >
              Madrid
              <span
                class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-gold"
              ></span>
            </a>
          </h5>
        </div>
        <a
          href="mailto:info@errepeproductora.com"
          class="uppercase text-light-gold text-xl md:text-2xl font-compactaBT pl-2 tracking-wider cursor-pointer"
          >info@errepeproductora.com</a
        >
        <div class="w-full flex justify-center gap-3 items-center flex-row">
          <span
            class="text-light-gold text-xl md:text-2xl font-compactaBT pl-2 tracking-wider"
            >NUESTRO INSTAGRAM</span
          >
          <a
            href="https://www.instagram.com/errepeproductora"
            aria-label="Errepe instagram"
          >
            <Icon
              name="instagram"
              class="text-light-gold text-4xl hover:text-gold"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
