<form method="POST" id="form" class="border rounded border-light-gold p-6">
  <input
    type="hidden"
    name="access_key"
    value="3e3919a6-29d7-4dc4-8261-be48206b3541"
  />
  <input
    type="checkbox"
    name="botcheck"
    class="hidden"
    style="display: none;"
  />
  <input
    type="hidden"
    name="from_name"
    value="floating_first_name floating_last_name"
  />

  <div class="w-10/12 mx-auto flex flex-col gap-5">
    <div class="grid md:grid-cols-2 md:gap-8">
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          name="floating_first_name"
          id="floating_first_name"
          class="block py-2.5 px-0 w-full text-md text-light-gold bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gold peer"
          placeholder=" "
          required
        />
        <label
          for="floating_first_name"
          class="peer-focus:font-medium absolute text-md text-light-gold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-gold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Nombre</label
        >
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          name="floating_last_name"
          id="floating_last_name"
          class="block py-2.5 px-0 w-full text-md text-light-gold bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gold peer"
          placeholder=" "
          required
        />
        <label
          for="floating_last_name"
          class="peer-focus:font-medium absolute text-md text-light-gold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-gold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Apellido</label
        >
      </div>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="email"
        name="floating_email"
        id="floating_email"
        class="block py-2.5 px-0 w-full text-md text-light-gold bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gold peer"
        placeholder=" "
        required
      />
      <label
        for="floating_email"
        class="peer-focus:font-medium absolute text-md text-light-gold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Email</label
      >
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <input
        type="tel"
        name="floating_phone"
        id="floating_phone"
        class="block py-2.5 px-0 w-full text-md text-light-gold bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gold peer"
        placeholder=" "
        required
      />
      <label
        for="floating_phone"
        class="peer-focus:font-medium absolute text-md text-light-gold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-gold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Teléfono</label
      >
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="text"
        name="floating_subject"
        id="floating_subject"
        class="block py-2.5 px-0 w-full text-md text-light-gold bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gold peer"
        placeholder=" "
        required
      />
      <label
        for="floating_subject"
        class="peer-focus:font-medium absolute text-md text-light-gold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Asunto</label
      >
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <textarea
        name="floating_message"
        id="floating_message"
        class="resize block py-2.5 px-0 w-full text-md text-light-gold bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-gold peer"
        placeholder=" "
        rows="5"
        required
        oninput="autoGrow(this)"></textarea>
      <label
        for="floating_message"
        class="peer-focus:font-medium absolute text-md text-light-gold duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-gold peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Mensaje</label
      >
    </div>

    <button
      type="submit"
      class="relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-deep-blue transition duration-300 ease-out border-2 border-gold rounded-md shadow-md group"
    >
      <span
        class="absolute inset-0 flex items-center justify-center w-full h-full text-deep-blue duration-300 -translate-x-full bg-gold group-hover:translate-x-0 ease"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg
        >
      </span>
      <span
        class="absolute flex items-center justify-center w-full h-full text-light-gold transition-all duration-300 transform group-hover:translate-x-full ease"
        >Enviar</span
      >
      <span class="relative invisible">Enviar</span>
    </button>
    <div id="result" class="text-gold"></div>
  </div>
</form>

<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    const formData = new FormData(form);
    e.preventDefault();

    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    const callback = () => {
      console.log("Evento enviado correctamente");
    };

    result.innerHTML = "Please wait...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = "Email enviado con éxito";
          // 🚀 GTM EVENT TRACKING
          if (typeof gtag === "function") {
            gtag("event", "conversion_event_default_1", {
              event_category: "Formulario",
              event_label: "Contacto Enviado",
              value: 1,
            });
          }

          // dataLayer para GTM
          window.dataLayer = window.dataLayer || [];
          window.dataLayer.push({
            event: "form_submit",
            form_id: form.id,
            event_category: "Formulario",
            event_action: "Envío",
            event_label: "Formulario de contacto",
            event_callback: callback,
          });
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        setTimeout(() => {
          result.style.display = "none";
        }, 3000);
      });
  });
</script>
