<script>
  import { gsap } from "gsap";

  const logo = document.querySelector("#svg1");

  const tl = gsap.timeline();
  document.addEventListener("DOMContentLoaded", () => {
    tl.from(logo, {
      opacity: 1,
      duration: 2,
      scale: 2,
      transformOrigin: "center",
    });

    const tl2 = gsap.timeline();

    tl2.from(".title", {
      opacity: 0,
      duration: 0.7,
      y: -100,
      ease: "sine.out",
      delay: 1,
      stagger: {
        amount: 0.3,
      },
    });

    tl2.from(".subtitle", {
      opacity: 0,
      duration: 0.7,
      ease: "sine.out",
      stagger: {
        amount: 0.3,
      },
    });
  });
</script>

<div
  class="h-screen w-10/12 md:w-full flex justify-center items-center mx-auto gap-20"
>
  <div class="flex flex-col">
    <div class="flex flew-row gap-6 md:gap-8 justify-center items-center">
      <div class="h-28 md:h-36 flex justify-start">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="106"
          height="170"
          viewBox="0 0 106 170"
          fill="none"
          class="h-full w-auto pt-[0.9rem] pb-[1.2rem] md:pt-[0.1rem] md:pb-[0.9rem]"
        >
          <g clip-path="url(#clip0_3_2)">
            <mask
              id="mask0_3_2"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="-409"
              y="-1158"
              width="1441"
              height="2561"
            >
              <path
                d="M-408.516 -1157.63H1031.48V1402.37H-408.516V-1157.63Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask0_3_2)">
              <path
                d="M67.0523 22.1121V73.8788C67.6643 73.8788 68.1563 73.8961 68.5296 73.9294C68.9029 73.9641 69.2589 74.0161 69.6003 74.0828C72.3163 74.0828 74.0989 73.4708 74.9496 72.2481C75.7989 71.0254 76.2229 68.7161 76.2229 65.3188V32.8108C76.2229 28.3268 75.8669 25.4241 75.1536 24.0988C74.4403 22.7748 72.3843 22.1121 68.9883 22.1121H67.0523ZM38.0096 0.000111826H73.5256C82.7096 0.000111826 89.5136 1.00278 93.9376 3.00544C98.3603 5.01078 101.32 8.44144 102.816 13.2974C104.314 18.1548 105.062 25.2041 105.062 34.4414V56.5548C105.062 62.3988 104.772 67.0508 104.196 70.5161C103.618 73.9801 102.376 76.9534 100.476 79.4321C98.5736 81.9121 95.7203 84.0348 91.9163 85.8001C97.0109 87.7041 100.476 90.6761 102.311 94.7174C104.144 98.7601 105.062 104.484 105.062 111.887V169.463H76.2229V106.691C76.2229 103.837 75.7136 101.835 74.6949 100.679C73.6763 99.5241 71.9083 98.9468 69.3963 98.9468C68.9203 98.9468 68.5123 98.9641 68.1736 98.9974C67.8323 99.0321 67.4603 99.0841 67.0523 99.1508V169.463H38.0096V0.000111826Z"
                fill="#FCD558"></path>
            </g>
            <mask
              id="mask1_3_2"
              style="mask-type:luminance"
              maskUnits="userSpaceOnUse"
              x="-409"
              y="-1158"
              width="1441"
              height="2561"
            >
              <path
                d="M-408.516 -1157.63H1031.48V1402.37H-408.516V-1157.63Z"
                fill="white"></path>
            </mask>
            <g mask="url(#mask1_3_2)">
              <path
                d="M31.5371 0.00085442C22.0798 0.00085442 15.1576 0.900789 10.7696 2.69812C6.38156 4.49945 3.48649 7.74388 2.09182 12.4305C0.697159 17.1199 3.05176e-05 24.4569 3.05176e-05 34.4423V74.8973C3.05176e-05 82.4387 0.342227 88.3478 1.01956 92.6278C1.69956 96.9078 3.0584 100.288 5.09573 102.766C7.1344 105.249 10.1755 106.996 14.2168 108.016C18.2582 109.034 23.9479 109.544 31.2852 109.544H38.0098V169.462H67.0528V0.00085442H31.5371ZM35.8692 22.1122H38.0098V87.2274H35.4629C32.4069 87.2274 30.5375 86.6155 29.8575 85.3915C29.1788 84.1688 28.8399 81.386 28.8399 77.038V32.8114C28.8399 28.2621 29.1788 25.3403 29.8575 24.0497C30.5375 22.759 32.5412 22.1122 35.8692 22.1122Z"
                fill="#FCD558"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_3_2">
              <rect width="105.062" height="169.463" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div>
        <h1
          class="uppercase text-light-gold text-8xl md:text-[10rem] title font-compactaBT leading-none"
        >
          errepé
        </h1>
      </div>
    </div>
    <div class="flex justify-end items-center h-fit">
      <h2
        class="uppercase text-gold text-[1.75rem] md:text-5xl font-semibold subtitle"
      >
        productora
      </h2>
    </div>
  </div>
</div>
