---
import { Image } from "astro:assets";
import Portada from "../images/portada.png";
---

<div
  class="w-full bg-brown-1 flex justify-center flex-col items-center min-h-svh"
>
  <div
    class="flex justify-center flex-col max-h-48 w-full gap-8 items-center absolute z-50"
  >
    <div class="flex flex-row location text-center absolute mb-96">
      <h2 class="uppercase text-black text-xl md:text-2xl font-compactaBT">
        Buenos Aires -
      </h2>
      <h2 class="uppercase text-black text-xl md:text-2xl font-compactaBT pl-2">
        <a
          href="https://star-carpas.com/"
          target="_blank"
          class="group transition duration-300"
        >
          Madrid
          <span
            class="block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-black"
          ></span>
        </a>
      </h2>
    </div>
    <div
      class="flex justify-center items-center mx-auto relative w-full h-auto"
    >
      <div class="flex flex-col">
        <div class="flex flew-row gap-6 md:gap-8 justify-center items-center title">
          <div
            class="relative w-full flex flex-col md:flex-row items-center justify-center gap-1 md:gap-8"
          >
            <h1 class="text-black text-8xl md:text-[8rem] font-compactaBT">
              ERREPÉ
            </h1>
            <p
              class="text-black text-8xl md:text-[7rem] font-semibold font-compactaBT pb-[10px] leading-none hidden md:block"
            >
              /
            </p>
            <p
              class="text-black text-[28px] font-Rocgroteskcond font-bold leading-none"
            >
              PRODUCTORA
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute bottom-0 md:relative w-full h-screen">
    <Image
      src={Portada}
      alt="Night Tent event image"
      loading="eager"
      width={Portada.width}
      height={Portada.height}
      class="w-full h-full object-cover"
    />
  </div>
</div>

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const tl = gsap.timeline();

    tl.from(".title", {
      opacity: 0,
      delay: 0.5,
      duration: 1,
      scale: 1.5,
      transformOrigin: "center",
      stagger: {
        amount: 0.3,
      },
    });

    // tl.from(".title", {
    //   opacity: 0,
    //   duration: 0.7,
    //   y: -100,
    //   ease: "sine.out",
    //   stagger: {
    //     amount: 0.3,
    //   },
    // });

    // tl.from(".subtitle", {
    //   opacity: 0,
    //   duration: 0.7,
    //   ease: "sine.out",
    //   stagger: {
    //     amount: 0.3,
    //   },
    // });

    tl.from(".location", {
      opacity: 0,
      duration: 0.7,
      y: -30,
      ease: "sine.out",
      stagger: {
        amount: 0.3,
      },
    });
  });
</script>
