---

---
<div class="spacer"></div>

<div class="trigger flex">

<div class="left">
  <div class="desktopContent">
    <div
      class="desktopContentSection leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        EVENTOS
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Nuestra experiencia, trayectoria y recursos propios son los que nos
        hacen capaz de darle servicio de producción gastronómica, mobiliaria y
        estructural a cualquier tipo de evento, brindando un servicio calidad y
        garantías.
      </p>
    </div>

    <div
      class="desktopContentSection leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        MOBILIARIOS
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Contamos con recursos como mesas de madera para banquetes, salones,
        mobiliarios para ceremonias, pérgolas y biombos, Chill out, mobiliario
        de forja, etc. Junto a Star Carpas, brindamos una asesoría de
        espacialidad y diseño con una vasta trayectoria en Madrid y Buenos
        Aires.
      </p>
    </div>

    <div
      class="desktopContentSection leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        PRODUCCIÓN
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Hacemos lo imposible realidad. Con nuestra alianza española Star Carpas,
        somos capaces de producir eventos chicos, medianos y masivos, donde sea
        y cuando sea necesario.
      </p>
    </div>
    <div
      class="desktopContentSection leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        CATERING
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Un centro de producción gastronómico propio hace posible que podamos
        diseñar y producir servicios de catering a medida, con gran
        reconocimiento en eventos masivos y corporativos.
      </p>
    </div>

    <div
      class="desktopContentSection leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        GASTRONOMÍA
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Desde administración a la implementación, brindamos soluciones
        gastronómicas para comercios, cadenas gastronómicas, eventos
        corporativos y eventos privados a medida.
      </p>
    </div>

    <div
      class="desktopContentSection leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        CONSULTING
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        La trayectoria tanto en cadenas gastronómicas como servicios para las
        principales empresas de Argentina y España, nos posicionan dando valor a
        nuestros procesos, capaces de capacitar e idear las estructuras para tu
        próximo proyecto.
      </p>
    </div>
  </div>
</div>
<div class="right">
  <div class="mobileContent">
    <div class="mobilePhoto red"></div>
    <div
      class="mobilePhotos leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        EVENTOS
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Nuestra experiencia, trayectoria y recursos propios son los que nos
        hacen capaz de darle servicio de producción gastronómica, mobiliaria y
        estructural a cualquier tipo de evento, brindando un servicio calidad y
        garantías.
      </p>
    </div>

    <div
      class="mobilePhotos leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        MOBILIARIOS
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Contamos con recursos como mesas de madera para banquetes, salones,
        mobiliarios para ceremonias, pérgolas y biombos, Chill out, mobiliario
        de forja, etc. Junto a Star Carpas, brindamos una asesoría de
        espacialidad y diseño con una vasta trayectoria en Madrid y Buenos
        Aires.
      </p>
    </div>

    <div
      class="mobilePhotos leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        PRODUCCIÓN
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Hacemos lo imposible realidad. Con nuestra alianza española Star Carpas,
        somos capaces de producir eventos chicos, medianos y masivos, donde sea
        y cuando sea necesario.
      </p>
    </div>
    <div
      class="mobilePhotos leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        CATERING
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Un centro de producción gastronómico propio hace posible que podamos
        diseñar y producir servicios de catering a medida, con gran
        reconocimiento en eventos masivos y corporativos.
      </p>
    </div>

    <div
      class="mobilePhotos leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        GASTRONOMÍA
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        Desde administración a la implementación, brindamos soluciones
        gastronómicas para comercios, cadenas gastronómicas, eventos
        corporativos y eventos privados a medida.
      </p>
    </div>

    <div
      class="mobilePhotos leading-4"
    >
      <h4
        class="uppercase text-deep-blue text-[5rem] md:text-[8rem] xl:text-[12rem] font-compactaBT flex leading-[100%]"
      >
        CONSULTING
      </h4>
      <p
        class="text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10"
      >
        La trayectoria tanto en cadenas gastronómicas como servicios para las
        principales empresas de Argentina y España, nos posicionan dando valor a
        nuestros procesos, capaces de capacitar e idear las estructuras para tu
        próximo proyecto.
      </p>
    </div>
    <div class="desktopPhotos">
      <div class="desktopPhoto red"></div>
      <div class="desktopPhoto green"></div>
      <div class="desktopPhoto pink"></div>
      <div class="desktopPhoto blue"></div>
    </div>
  </div>
  
</div>
  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const details = gsap.utils.toArray(
      ".desktopContentSection:not(:first-child)"
    );
    const photos = gsap.utils.toArray(".desktopPhoto:not(:first-child)");

    gsap.set(photos, { yPercent: 101 });

    const allPhotos = gsap.utils.toArray(".desktopPhoto");

    // create
    let mm = gsap.matchMedia();

    // add a media query. When it matches, the associated function will run
    mm.add("(min-width: 600px)", () => {
      // this setup code only runs when viewport is at least 600px wide
      console.log("desktop");

      ScrollTrigger.create({
        trigger: ".trigger",
        start: "top top",
        end: "bottom bottom",
        pin: ".right",
      });

      //create scrolltrigger for each details section
      //trigger photo animation when headline of each details section
      //reaches 80% of window height
      details.forEach((detail, index) => {
        let headline = detail.querySelector("h4");
        let animation = gsap
          .timeline()
          .to(photos[index], { yPercent: 0 })
          .set(allPhotos[index], { autoAlpha: 0 });
        ScrollTrigger.create({
          trigger: headline,
          start: "top 80%",
          end: "top 50%",
          animation: animation,
          scrub: true,
          markers: false,
        });
      });

      return () => {
        // optional
        // custom cleanup code here (runs when it STOPS matching)
        console.log("mobile");
      };
    });
  </script>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>

<style>

.left {
	width:50%;
}

.right {
	height:100vh;
	/* outline:1px solid purple; */
	width:50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {
	min-height:100vh;
	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.desktopPhotos {
	width:40vw;
	height:40vw;
	border-radius:20px;
	position:relative;
	overflow:hidden;
	box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
}




.red {
	background: crimson;
}

.green {
	background:MediumSeaGreen;
}

.blue {
	background:dodgerblue;
}

.pink{
	background:deepPink;
}


/* small screen / mobile layout */
.mobileContent {
	display:none;
	width:80vw;
}

.mobilePhoto {
	width:80vw;
	height:80vw;
	margin-top:5em;
	border-radius:6vw;
}


/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
	.left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}
	

}


</style>