<div class="desktopContent w-11/12 md:w-8/12 flex justify-center mx-auto flex-col py-20">
  <div
    class="service h-full my-20 px-10 xl:px-20 flex justify-center items-center flex-col"
  >
    <h4
      class="uppercase text-deep-blue text-[5rem] md:text-[10rem] font-compactaBT flex leading-[100%]"
    >
      EVENTOS
    </h4>
    <p
      class="description text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10 text-center"
    >
      Nuestra experiencia, trayectoria y recursos propios son los que nos hacen
      capaz de darle servicio de producción gastronómica, mobiliaria y
      estructural a cualquier tipo de evento, brindando un servicio calidad y
      garantías.
    </p>
  </div>

  <div
    class="service h-full my-20 px-10 xl:px-20 flex justify-center items-center flex-col"
  >
    <h4
      class="uppercase text-deep-blue text-[5rem] md:text-[10rem] font-compactaBT flex leading-[100%]"
    >
      MOBILIARIOS
    </h4>
    <p
      class="description text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10 text-center"
    >
      Contamos con recursos como mesas de madera para banquetes, salones,
      mobiliarios para ceremonias, pérgolas y biombos, Chill out, mobiliario de
      forja, etc. Junto a Star Carpas, brindamos una asesoría de espacialidad y
      diseño con una vasta trayectoria en Madrid y Buenos Aires.
    </p>
  </div>

  <div
    class="service h-full my-20 px-10 xl:px-20 flex justify-center items-center flex-col"
  >
    <h4
      class="uppercase text-deep-blue text-[5rem] md:text-[10rem] font-compactaBT flex leading-[100%]"
    >
      PRODUCCIÓN
    </h4>
    <p
      class="description text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10 text-center"
    >
      Hacemos lo imposible realidad. Con nuestra alianza española Star Carpas,
      somos capaces de producir eventos chicos, medianos y masivos, donde sea y
      cuando sea necesario.
    </p>
  </div>
  <div
    class="service h-full my-20 px-10 xl:px-20 flex justify-center items-center flex-col"
  >
    <h4
      class="uppercase text-deep-blue text-[5rem] md:text-[10rem] font-compactaBT flex leading-[100%]"
    >
      CATERING
    </h4>
    <p
      class="description text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10 text-center"
    >
      Un centro de producción gastronómico propio hace posible que podamos
      diseñar y producir servicios de catering a medida, con gran reconocimiento
      en eventos masivos y corporativos.
    </p>
  </div>

  <div
    class="service h-full my-20 px-10 xl:px-20 flex justify-center items-center flex-col"
  >
    <h4
      class="uppercase text-deep-blue text-[5rem] md:text-[10rem] font-compactaBT flex leading-[100%]"
    >
      GASTRONOMÍA
    </h4>
    <p
      class="description text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10 text-center"
    >
      Desde administración a la implementación, brindamos soluciones
      gastronómicas para comercios, cadenas gastronómicas, eventos corporativos
      y eventos privados a medida.
    </p>
  </div>

  <div
    class="service h-full my-20 px-10 xl:px-20 flex justify-center items-center flex-col"
  >
    <h4
      class="uppercase text-deep-blue text-[5rem] md:text-[10rem] font-compactaBT flex leading-[100%]"
    >
      CONSULTING
    </h4>
    <p
      class="description text-deep-blue text-2xl xl:text-4xl font-extrabold font-FormaDJRMicro mt-10 text-center"
    >
      La trayectoria tanto en cadenas gastronómicas como servicios para las
      principales empresas de Argentina y España, nos posicionan dando valor a
      nuestros procesos, capaces de capacitar e idear las estructuras para tu
      próximo proyecto.
    </p>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const Services = gsap.utils.toArray<HTMLElement>(".service");
  const servicesDescriton = gsap.utils.toArray<HTMLElement>(".description");

  document.addEventListener("DOMContentLoaded", () => {
    Services.forEach((service) => {
      gsap.from(service, {
        once: true,
        opacity: 0,
        duration: 1.5,
        ease: "sine.out",
        scrollTrigger: {
          trigger: service,
          start: "20px 80%",
          end: "+=200",
        },
      });
    });

    servicesDescriton.forEach((description) => {
      gsap.from(description, {
        y: 50,
        opacity: 0,
        once: true,
        duration: 1,
        ease: "power2.inOut",
        scrollTrigger: {
          trigger: description,
          start: "20px 80%",
          end: "+=200",
        },
      });
    });
  });
</script>
