---
import { Image } from "astro:assets";
import Event01 from "../images/works/Desktop_1.png";
import Event02 from "../images/works/Desktop_2.png";
import Event05 from "../images/works/Desktop_5.png";
import Front1 from "../images/works/Desktop-2-2-2.png";
import Front3 from "../images/works/Desktop_1_1_1.png";
import Front2 from "../images/works/Desktop_3_3_3.png";

const imageGroups = [
  [
    {
      src: Front1,
      alt: "Front page design version 1 for desktop",
    },
    {
      src: Event01,
      alt: "Event page design version 1 for desktop",
    },
  ],

  [
    {
      src: Event02,
      alt: "Event page design version 2 for desktop",
    },
    {
      src: Front3,
      alt: "Front page design version 3 for desktop",
    },
  ],
  [
    {
      src: Front2,
      alt: "Front page design version 2 for desktop",
    },
    {
      src: Event05,
      alt: "Event page design version 5 for desktop",
    },
  ],
];
---

<div
  class="container w-11/12 md:w-full flex mx-auto justify-center items-end flex-col h-full py-20"
>
  <div
    class="flex justify-center items-center mx-auto flex-col w-full gap-4 works"
  >
    {
      imageGroups.map((group) => (
        <div class="flex justify-center items-center flex-col md:flex-row gap-4">
          {group.map((image) => (
            <div class="flex justify-center items-center">
              <Image
                src={image.src}
                alt={image.alt}
                class="rounded-md box w-full md:w-3/4"
              />
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  document.querySelectorAll(".box").forEach((box, index) => {
    gsap.from(box, {
      opacity: 0,
      yPercent: 10,
      ease: "power2",
      duration: 1,
      scrollTrigger: {
        trigger: box,
        start: "top 90%",
        end: "bottom 20%",
      },
      delay: index * 0.2,
    });
  });
</script>
